@{
    ViewBag.Title = "محمد هاني غنيم";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>محمد هاني غنيم</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--
    Easy Profile Template
    -->
    <!-- stylesheet css -->
    <link href="~/Content/Portofilio/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/templatemo-blue.css">

    <script>

        $.backstretch([
            "/img/tm-bg-slide-1.jpg"
            , "/img/tm-bg-slide-2.jpg"
            , "/img/tm-bg-slide-3.jpg"
        ], { duration: 3000, fade: 750 });
    </script>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

    <!-- preloader section -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wordpress">
            <span class="sk-inner-circle"></span>
        </div>
    </div>

    <!-- header section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <img style="animation-delay:1.5s" src="/img/hany.jpg" class="img-responsive img-circle tm-border animated rotateIn" alt="templatemo easy profile">
                    <hr>
                    <h1 class="tm-title bold shadow animated fadeIn" style="animation-delay:2s">محمد هاني غنيم</h1>
                    <h1 class="white bold shadow animated fadeIn" style="animation-delay:2s">محافظ بني سويف</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- about and skills section -->
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="about animated ftco-animate rotateInDownRight" style="animation-delay:3s">
                    <h3 class="accent">محمد هاني جمال الدين غنيم</h3>
                    <h2>جراح</h2>
                    <p>محمد هاني جمال الدين غنيم من مواليد محافظة القاهرة في 13 أكتوبر1985، وحاصل على بكالوريوس الطب والجراحة جامعة عين شمس عام 2009، وماجستير جراحة العظام عام 2017، ودبلوم إدارة المنشآت الطبية عام 2018.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="skills  ftco-animate rotateInDownLeft animated" style="animation-delay:3s">
                    <h2 class="white">المهارات</h2>
                    <strong>ادارة المنشأت الطبية</strong>
                    <span class="pull-left">70%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                    </div>
                    <strong>القيادة التنموية</strong>
                    <span class="pull-left">85%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                    </div>
                    <strong>جراحة العظام</strong>
                    <span class="pull-left">95%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- education and languages -->
    <section class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="education ftco-animate animated zoomInRight" style="animation-delay:3.5s">
                    <h2 class="white">التعليم</h2>
                    <div class="education-content">
                        <h4 class="education-title accent">طبيب جراح</h4>
                        <div class="education-school">
                            <h5>بكالوريوس الطب والجراحة جامعة عين شمس </h5>
                            <h5>عام 2009</h5>
                        </div>
                        <p class="education-description">عمل محافظ بني سويف الجديد، نائب جراحة عظام بمستشفى الشرطة، ومدرب إسعافات أولية ومدير مشروعات بالهلال الأحمر.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="languages ftco-animate animated zoomInRight" style="animation-delay:3.5s">
                    <h2>اللغات</h2>
                    <ul>
                        <li>العربية</li>
                        <li>الانجليزية</li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- contact and experience -->
    <section class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="contact ftco-animate animated fadeInRightBig" style="animation-delay:1s">
                    <h2>التواصل</h2>
                    <p><i class="fa fa-map-marker"></i>محافظة بني سويف</p>
                    <p><i class="fa fa-phone"></i> 010-901-02430</p>
                    <p><i class="fa fa-envelope"></i> hany@bns.com</p>
                    <p><i class="fa fa-globe"></i> www.hanyghonim.com</p>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="experience ftco-animate animated fadeInRightBig" style="animation-delay:1s">
                    <h2 class="white">الخبرات</h2>
                    <div class="experience-content">
                        <h4 class="experience-title accent">نائب محافظ بورسعيد</h4>
                        <h5>محافظة بورسعيد</h5><span></span>
                        <h5>2019</h5>
                        <p class="education-description">
                            وتولى منصب نائب محافظ بور سعيد، وخلال فترة عمله تولى عدة ملفات مهة، من بينها الإشراف على منظومة التأمين الصحي الشامل، ومشروعات المرافق وتجديد شبكات الصرف الصحي، وملف إعداد الكوادر الشبابية والندوات التثقيفية داخل الأندية ومراكز الشباب، ومشروعات التدريب النوعي للشباب لشغل الوظائف المنتظرة فضلاً عن مشاركته في جلسات مع رؤساء الأحياء لإعداد الخطط في مواقع العمل على الطبيعة.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>حقوق التصميم &copy; 2020 م/ محمود ابوالنجا</p>
                    <ul class="social-icons">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa fa-github"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="backstretch" style="left: 0px; top: 0px;  margin: 0px; padding: 0px; height: 722px; width: 1519px; z-index: -999999; position: fixed;">
        <img src="/img/tm-bg-slide-1.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1519px; height: 1012.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -145.333px;">
    </div>
    <!-- javascript js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        $(function () {
            jQuery(document).ready(function () {
                $("body").backstretch([
                    "~/img/tm-bg-slide-1.jpg",
                    "/img/tm-bg-slide-2.jpg",
                    "/img/tm-bg-slide-3.jpg"
                ], { duration: 3200, fade: 1300 });
            });
        })
    </script>
</body>
</html>