
@{
    ViewBag.Title = "TechnoSupport";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="TecnoSupport">
    <h3>
        التحول الرقمي
    </h3>
    <p>
        التحول الرقمي هو الاستثمار في الفكر وتغيير السلوك لإحداث تحول جذري في طريقة العمل، عن طريق الاستفادة من التطور التقني الكبير الحاصل لخدمة المستفيدين بشكل أسرع وأفضل. ويوفر التحول الرقمي إمكانات ضخمة لبناء مجتمعات فعالة، تنافسية ومستدامة، عبر تحقيق تغيير جذري في خدمات مختلف الأطراف من مستهلكين وموظفين ومستفيدين، مع تحسين تجاربهم وإنتاجيتهم عبر سلسلة من العمليات المتناسبة، مترافقة مع إعادة صياغة الإجراءات اللازمة للتفعيل والتنفيذ.
    </p>
    <p>
        ويتطلب التحول الرقمي تمكين ثقافة الإبداع في بيئة العمل، ويشمل تغيير المكونات الأساسية للعمل، ابتداء من البنية التحتية، ونماذج التشغيل، وانتهاءً بتسويق الخدمات والمنتجات.
    </p>
   
</section>
<section class="TecnoSupport">
    <h3 style="text-align:right;">
        أركان التغيير للتحول الرقمي
    </h3>
    <div class="img-circle" style="text-align:center;">
        <img src="~/img/DRAW-for-Gov_416.png"/>
    </div>
</section>
<section class="TecnoSupport">
    <h3 style="text-align:right;">
        ميزات التحول الرقمي

    </h3>
    <p>
        إعادة تشكيل الطريقة التي يعيش ويعمل ويفكر ويتفاعل ويتواصل بها الناس، اعتماداً على التقنيات المتاحة، مع التخطيط المستمر والسعي الدائم لإعادة صياغة الخبرات العملية.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تحسين الكفاءة وتقليل الإنفاق، وتطبيق خدمات جديدة بسرعة ومرونة.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تحقيق تغيير جذري في الخدمات المقدمة للأفراد في مجالات الصحة والتعليم والسلامة والأمن، وتحسين تجاربهم وإنتاجيتهم.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تغيير نماذج العمل وتغيير العقليات.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        الاستفادة من التقنيات الحديثة لتكون أكثر إدراكاً ومرونة في العمل وقدرة على التنبؤ والتخطيط للمستقبل.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تمكين الابتكار بشكل أسرع لتحقيق النتائج المرجوة والسير نحو النجاح.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        توفير إستراتيجية لخلق قيمة تنافسية أعلى، وفرق عمل متطورة، واستدامة ثقافة الإبداع.
        <span class="fa fa-circle"></span>
    </p>
    
</section>
<section class="TecnoSupport">
    <h3 style="text-align:right;">
        فوائد التحول الرقمي

    </h3>
    <p>
        استبدال العمليات الرقمية بالتقليدية.
        <span class="fa fa-circle"></span>

    </p>
    <p>
        زيادة وقت التفكير في التطوير.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        زيادة كفاءة سير العمل وتقليل الأخطاء.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تسريع طريقة العمل اليومية.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تطبيق خدمات جديدة بسرعة ومرونة.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تحسين الجودة وتطوير الأداء.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        زيادة الإنتاجية وتحسين المنتجات.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        زيادة رضا المستفيدين.
        <span class="fa fa-circle"></span>
    </p>
    <p>
        تحسين جدوى الاستثمار.
        <span class="fa fa-circle"></span>
    </p>
</section>
<section class="TecnoSupport">
    <h3 style="text-align:right;">
        تقنيات التحول الرقمي
    </h3>
    <div class="img-circle" style="text-align:center;">
        <img src="~/img/DRAW-for-Gov.png" />
    </div>
</section>
<section class="TecnoSupport">
    <h3>كيف تساهم تكنولوجيا المعلومات فى تمكين ذوى الإعاقة؟</h3>
    <p>
        تعد تكنولوجيا المعلومات والاتصالات ذات أهمية بالغة لذوى الإعاقة، فهى تمكنهم من المشاركة الكاملة فى الحياة الاجتماعية والاقتصادية لمجتمعاتهم، وتم اتخاذ خطوات تجاه تحسين نوعية حياتهم من خلال مساعدتهم على الاستقلال وتمكينهم، وذلك من جانب وزارة الاتصالات بالتعاون مع العديد من الجهات الحكومية، حيث كانت الوزارة قد أطلقت عام 2012 مبادرة وطنية  تركز على دمج وتمكين ذوى الإعاقة فى المجتمع المصرى من خلال استخدام تكنولوجيا المعلومات والاتصالات، ويقدم اليوم السابع تفاصيل تلك المبادرات فى النقاط التالية تعرف عليها.

    </p>
    
   
   
   
</section>
<section class="TecnoSupport">
    <h4>
        دعم الوصول إلى المعلومات والمعرفة
    </h4>
    <p>
        تهدف وزارة الاتصالات إلى توفير المعلومات للأشخاص ذوى الإعاقة على نحو يكفل لهم المعرفة وحرية التعبير والتواصل الشخصى وإبداء الرأى وكذلك توفير معلومات سهلة بشأن التكنولوجيات المساعدة.
    </p>
</section>
<section class="TecnoSupport">
    <h4>
        بوابة تمكين

    </h4>
    <p>
        تسعى وزارة الاتصالات إلى توفير المعلومات لذوى الإعاقة بأساليب سهلة ميسرة من خلال تدشين بوابة تمكين كبوابة رسمية للوزارة للتواصل مع الأشخاص ذوى الإعاقة وهى بوابة عالية الإتاحة، تمكنهم من متابعة الأنشطة المختلفة، والتسجيل فى المنح التدريبية ومختلف البرامج التى تقدمها الوزارة.
    </p>
</section>
<section class="TecnoSupport">
    <h4>
        دعم العملية التعليمية للأشخاص ذوى الإعاقة
    </h4>
    <p>
        وقعت الوزارة اتفاقية تعاون مع وزارة التربية والتعليم لتقديم الدعم التكنولوجى لمدارس المكفوفين والتربية الفكرية، ومدارس الصم، وضعاف السمع، والدمج على مستوى الجمهورية. كما تم تدريب 6000 معلم على استخدام التكنولوجيا المساعدة لرفع كفاءة العملية التعليمية للطلاب ذوى الإعاقة ويشمل ذلك اعتماد أول دفعة من مدرسى لغة الإشارة الموحدة باستخدام القاموس الإلكترونى والبالغ عددهم 60 مدرس. كما تم تأهيل كافة مراكز الأشخاص ذوى الاحتياجات الخاصة داخل جميع الجامعات المصرية الحكومية.
    </p>
</section>
<section class="TecnoSupport">
    <h4>
        توفير فرص عمل أفضل
    </h4>
    <p>
        من أجل ضمان حق الأشخاص ذوى الإعاقة فى الحصول على فرص عمل متكافئة بما يتناسب مع مؤهلهم الدراسى يتم تقديم الآتى:

        منحة الرخصة الدولية لقيادة الحاسب الآلى للأشخاص ذوى الإعاقة

        يهدف مشروع الرخصة الدولية لقيادة الحاسب لذوى الإعاقة إلى دعم ورفع قدرات الأشخاص ذوى الإعاقة للحصول على الرخصة الدولية لقيادة الحاسب الآلى من أجل مواكبة تطور سوق العمل، ويتم منح هذه الرخصة فى العديد من مراكز التدريب والاختبار المعتمدة والمؤهلة لتدريب الأشخاص ذوى الإعاقة من خلال التكنولوجيا المساعدة.
    </p>
</section>
