
@{
    ViewBag.Title = "Home2";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--Salama-->
<div class="flex-sm-column">
    <div class="flip-card" style="top:20%;">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/img/salama.jpg" alt="Avatar" style="width:220px;height:220px;">
            </div>
            <div class="flip-card-back">
                <h1>عاصم سلامة</h1>
                <a>نائب محافظ بني سويف</a>
                <p>خريج الدفعة الاولي للبرنامج الرئاسي</p>
            </div>
        </div>
    </div>
</div>
<!--Hany-->
<div class="flex-sm-column">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/img/hany.jpg" alt="Avatar" style="width:220px;height:220px;">
            </div>
            <div class="flip-card-back">
                <h1>محمد هاني غنيم</h1>
                <p>محافظ بني سويف</p>
                <p>خريج الدفعة الاولي للبرنامج الرئاسي</p>
            </div>
        </div>
    </div>
</div>
<!--Habash-->
<div class="flex-sm-column">
    <div class="flip-card" style="top:20%;">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/img/habsh.jpeg" alt="Avatar" style="width:220px;height:220px;">
            </div>
            <div class="flip-card-back">
                <h1>بلال حبش</h1>
                <p>نائب محافظ بني سويف</p>
                <p>خريج الدفعة الاولي للبرنامج الرئاسي</p>
            </div>
        </div>
    </div>
</div>
<!--Ali-->
<!--Aly-->
<div class="flex-sm-column" style="right: 33%;top: 20%;">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/img/male.jpeg" alt="Avatar" style="width:220px;height:220px;">
            </div>
            <div class="flip-card-back">
                <h1>محمد على جبر</h1>
                <p>الأمين العام</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!--hend-->
<div class="flex-sm-column" style="right: 15%;top: 0%;">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/img/female.png" alt="Avatar" style="width:220px;height:220px;">
            </div>
            <div class="flip-card-back">
                <h1>هند احمد</h1>
                <p>الأمين العام المساعد</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!--Amana-->
<div class="flex-sm-column" style="right: 33%;top: -12%;">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/img/teamwork.jpg" alt="Avatar" style="width:220px;height:220px;">
            </div>
            <div class="flip-card-back">
                <h1>الأمانة العامة</h1>
                <p>منسقين المحاور</p>
                <p></p>
            </div>
        </div>
    </div>
</div>