
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <div class="row News">
        <div class="container">
            <!--الأعلان-->
            <section style="display:flex;">
                <div class="col-md-8 Text">
                    <h3 class="wow slideInLeft" data-wow-duration="2s">الأعلان عن مبادرت الملجس الاستشاري والتأهيل والتمكين</h3>
                    <a class="wow slideInLeft" data-wow-duration="2s">تفاصيل مبادرتي المجلس الاستشاري وتمكين الشباب ببني سويف</a>
                    <p class="wow animated slideInLeft" data-wow-duration="2s">
                        أعلنت محافظة بني سويف، اليوم، عن إجراء مرحلة الاختبارات التحريرية للشباب ممن تقدموا بأوراقهم في مبادرتي المجلس الاستشاري والتأهيل والتمكين للشباب، اعتبارًا من الثلاثاء القادم إلى الخميس 12 مارس الجاري، وذلك بديوان عام المحافظة، حيث بلغ العدد النهائي للمتأهلين لهذه المرحلة 684 شابًا وفتاة، وذلك من أصل 750 قدموا أوراقهم خلال فترة تلقيها التي بدأت من 18 فبراير الماضي، واختتمت أمس الخميس 5 مارس الجاري، حيث قد تم استبعاد عدد من ملفات المتقدمين لعدم انطباق المعايير والشروط المحددة سلفًا.
                    </p>


                </div>
                <div class="col-md-4 img ftco-animate zoomIn">
                    <img src="/img/s1.jpg" class="wow slideInLeft" data-wow-duration="2s" />
                </div>
            </section>
            <!---->
            <!--الاختبارات-->
            <section style="display:flex;" class="ftco-animate animated zoomInUp">
                <div class="col-md-8 Text">
                    <h3 class="ftco-animate animated fadeInUp">اختبارات مبادرتي المجلس الاستشاري وتمكين الشباب ببني سويف</h3>
                    <a>
                        684 شابا وفتاة من 750 تأهلوا لمرحلة الامتحانات التحريرية
                    </a>
                    <a>
                        أعلنت محافظة بني سويف، عن إجراء مرحلة الاختبارات التحريرية للشباب ممن تقدموا بأوراقهم في مبادرتي المجلس الاستشاري والتأهيل والتمكين للشباب، وذلك بداية من الثلاثاء القادم وحتى الخميس 12 مارس الجاري، بديوان عام المحافظة.
                    </a>
                    <p>
                        ومن المقرر أن يتم الإعلان عن نتائج الاختبارات التحريرية وتحديد المتأهلين للدخول للمرحلة اللاحقة وهي مرحلة إجراء المقابلات الشخصية للمتأهلين، والتي يعقبها الإعلان عن المتأهلين في هذه المرحلة، ليتم بعدها تأهيل المرشحين لمدة أسبوعين في دورات مكثفة في مجالات متنوعة في القانون، والأمن القومي، والتواصل الفعال، ومكافحة الفساد، والاقتصاد، والإعلام، والمساءلة الاجتماعية، وإدارة الأزمات، والإدارة، وعقب ذلك تعمل المجموعات فى المراكز لمدة 3 شهور ويعاد التقييم، للوقوف على مدى الاستجابة والمشاركة الفعالة وتحقيق الخطة المستهدفة.وأهابت محافظة بنى سويف بالمتقدمين بضرورة الالتزام بالمواعيد المحددة، مع أهمية التزام كلا بمجموعته، حيث لن يسمح بخلاف ذلك.

                    </p>

                    <p>

                    </p>
                </div>
                <div class="col-md-4 img">
                    <img src="/img/392.jpg" />
                </div>
            </section>
            <!---->
            <section style="display: flex;" class="ftco-animate animated zoomInUp">
                <div class="col-md-8 Text">
                    <h3 class="ftco-animate animated fadeIn">الأجتماع الأول للمجلس الاستشاري</h3>
                    <a class="ftco-animate animated zoomIn">محافظ بني سويف يكشف عن أهم أطر وآليات منظومة العمل  بالمجلس الاستشاري للشباب.. ويؤكد على أهمية العمل بروح الفريق الواحد وتغليب المصلحة العامة</a>
                    <p>
                        عقد الدكتور محمد هاني غنيم محافط بني سويف اجتماعا مع شباب المحور الاقتصادي والتنمية المحلية بالمجلس الاستشاري  للشباب الذي تم الاعلان عن تشكيله منذ أيام ويشمل 6 محاور وهى :  الحوكمة والتحول الرقمي ، والمحور الاجتماعي ، والعمل العام، والاقتصادي ، وبناء الإنسان ، والتنمية المحلية ، حيث حضر الاجتماع ، الدكتور عاصم سلامة نائب المحافظ ، والسيد بلال حبش نائب المحافظ ، والأستاذ محمد على جبر أمين عام المجلس ، والأستاذة هند أحمد أمين عام مساعد المجلس

                    </p>

                    <p>
                        واستمع محافظ بني سويف لبعض مقترحات الشباب بالإجتماع ، مشيرا إلى حرصه على الاجتماع بهم جميعا بكامل التشكيل ، منوها عن صعوبة ذلك في ظل الظروف الراهنة  وأزمة كورونا ، والخطة الشاملة للدولة في مجابهة تداعيات الفيروس ، وموضحا أنه سيجتمع مع شباب كل محور أو محورين على حدة،وستكون هناك ألية للتواصل الدائم، بحيث تكون الاجتماعات آلية منها وليست هي الأساس لتبادل الأفكار وتنظيم العمل أو المشاركة في تنفيذ مقترح

                    </p>
                </div>
                <div class="col-md-4 img">
                    <img src="/img/s5.jpg" />
                </div>
            </section>
        </div>
    </div>

